---
layout: default
---

<div class="page">
  <h1 class="page-title">{{member.name}}</h1>
    <img src="photo.jpg" style="float:left;margin:10px" width=150px height=150px />

    {% for member in site.data.staff %}
    {% if member.homepage == page.homepage %}
    <ul>
        <li>{{ member.phone }}</li>
        <li>
        <a href="mailto:{{member.email}}">
            {{ member.email }}
        </a></li>
        <li>Office {{ member.office }}</li>
        {% if member.twitter %}
        <li><a href="http://twitter.com/{{member.twitter}}">Twitter</a></li>
        {% endif %}
        {% if member.blog %}
        <li><a href="{{member.blog}}">Blog</a></li>
        {% endif %}

    </ul>

    <p style="clear:both">{{ member.description }}</p>
    {% endif %}
{% endfor %}

  {{ content }}
</div>
