---
layout: page
---

  {{ content }}


<table>
<thead>
<tr>
    <td>
        Name
    </td>
    <td>
        Phone
    </td>
    <td>
        Email
    </td>
</tr>
</thead>
{% for member in site.data.staff %}
<tr>
    <td>
        <a href="/{{member.homepage}}">
            {{ member.name }}
        </a>
    </td>
    <td>
            {{ member.phone }}
    </td>
    <td>
        <a href="mailto:{{member.email}}">
            {{ member.email }}
        </a>
    </td>
</tr>
{% endfor %}
</table>
